<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.simple.dao.GroupMapper">
    <resultMap id="BaseResultMap" type="com.simple.pojo.Group">
        <constructor>
            <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="title" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="messges" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="member" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
        id, title, messges, member, create_time, update_time
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from simple_group
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        DELETE FROM simple_group
        WHERE id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.simple.pojo.Group">
        INSERT INTO simple_group (id, title, messges,
                                  member, create_time, update_time
        )
        VALUES (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{messges,jdbcType=VARCHAR},
                #{member,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.simple.pojo.Group">
        insert into simple_group
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="messges != null">
                messges,
            </if>
            <if test="member != null">
                member,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="messges != null">
                #{messges,jdbcType=VARCHAR},
            </if>
            <if test="member != null">
                #{member,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.simple.pojo.Group">
        update simple_group
        <set>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="messges != null">
                messges = #{messges,jdbcType=VARCHAR},
            </if>
            <if test="member != null">
                member = #{member,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.simple.pojo.Group">
        UPDATE simple_group
        SET title       = #{title,jdbcType=VARCHAR},
            messges     = #{messges,jdbcType=VARCHAR},
            member      = #{member,jdbcType=VARCHAR},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            update_time = #{updateTime,jdbcType=TIMESTAMP}
        WHERE id = #{id,jdbcType=INTEGER}
    </update>

    <insert id="createNewGroup" parameterType="map">
        INSERT INTO simple_group (title, messges, member, create_time, update_time)
        VALUES (#{title}, #{message}, #{username}, now(), now())
    </insert>

    <select id="getGroupUser" resultType="java.lang.String" parameterType="string">
        SELECT member
        FROM
            simple_group

    </select>

    <update id="joinGroup" parameterType="map">
        UPDATE simple_group
        SET member = #{updateUser}
        WHERE member = #{originalUser}
    </update>

    <select id="checkUserExist" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM simple_group
        WHERE member LIKE CONCAT('%',#{username},'%')
    </select>

    <select id="checkGroupTile" parameterType="string" resultType="java.lang.Integer">
        SELECT count(1)
        FROM simple_group
        WHERE title = #{title}
    </select>


</mapper>